<robot name="iota">
	<!-- Make the new stl files from 3d cad and use solidworks to make full mechanism that would work -->
	<link name="base">
		<origin xyz="0 0 0"/>
	</link>
	<link>
		<inertial>
			<mass value="0.005"/>
		</inertial>
		<visual>
			<origin xyz="0 0 0" rpy="0 0 0" />
			<geometry>
				<sphere radius="2.0" />
			</geometry>
		</visual>
	</link>
	<visual>
		<geometry
	</visual>
</robot>